
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;600&family=Playfair+Display:wght@400;700&display=swap');
:root{--bg:#FFF7EA;}
html,body,#__next{height:100%;}
body{
  font-family:'Libre Franklin',sans-serif;
  background-color:var(--bg);
  color:#222;
  margin:0;
}
